body {
    background-color: #d1bc8a;
    font-family: 'Poppins', sans-serif;
    color: #4b5320;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
}

.heading-box {
    background-color: #f7d794;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Ensure it doesn't use flexbox */
    text-align: center;
    width: 80%; /* Manage width to avoid stretching across the full page */
    max-width: 600px; /* Maximum width */
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.info-container p, .info-container a {
    margin: 5px 0;
    font-size: 18px;
}

.info-container a {
    padding: 10px 20px;
    background-color: #4b5320;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
